.atrasada{
    color: red;
}
.aberta{
    color: orange;
}
.concluida{
    color: green;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 3px;
    box-sizing: border-box;
    min-width: 100px;
}
.title{
    flex-grow: 1;
    word-wrap: break-word;
    padding: 0 1%;
    
}
.value{
    flex-grow: 4;
}
.title, .value {
    font-weight: 500;
    font-size: 100%;
    width: 100%;
}